<%- include('partials/header', { title: post.title, user: user }) %>
<h1><%= post?.title %></h1>
<p><%= post?.content %></p>
<% post?.images?.forEach((image)=>{%>
<div><img src="<%= image.url%>" alt="image" /></div>

<%})%> <% if (user?._id?.toString()==post?.author?._id?.toString()) { %>
<div>
  <a href="/post/<%= post?._id%>/delete">Delete</a>
  <a href="/post/<%= post?._id%>/edit">Edit</a>
</div>
<!-- comment Form -->
<div>
  <h3>Comments</h3>
  <form action="/posts/<%= post?._id%>/comment" method="POST">
   <textarea name="content" placeholder="add comment" rows="5" required></textarea>
    <input type="submit" value="Comment" />
  </form>
</div>
<% } %> <%- include('partials/footer') %>
